.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: white;
  width: 500px;
  box-shadow: 8px 8px 20px 8px rgba(39, 60, 117, 0.61);
  border-radius: 10px;
}

.title {
  margin-bottom: 30px;
}

.link-container {
  display: flex;
  gap: 24px;
}

.link {
  padding: 12px 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: blue;
  border-radius: 5px;
  text-decoration: none;
}

.link:hover {
  background-color: #434c9b;
}
